.home-container {
  display: flex;
  height: 100vh;
}

.home-container .home-middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: rgb(235, 235, 235);
}

.home-container .home-middle .header {
  display: flex;
  justify-content: center;
}

.home-container .home-middle .header .welcome-msg {
  display: flex;
  align-items: start;
  flex-direction: column;
  text-align: left;

  width: 820px;
  padding: 20px;
  z-index: 0;
}

.home-container .home-middle .header-chat-active {
  display: none;
}

.home-container .home-middle .header .welcome-msg h2 {
  font-weight: 500;
  font-size: 25px;
  animation: ZoomLeft 0.5s ease-in-out;
}

.home-container .home-middle .header .welcome-msg h1 {
  font-weight: 500;
  font-size: 36px;
  animation: ZoomUp 0.5s ease-in-out;
}

.home-container .home-middle .messages-chat-active {
  height: calc(100vh - 120px);
  padding: 20px 0 140px;
  overflow-y: auto;
  overflow-x: hidden;
}

.home-container .home-middle .input-chat-active {
  position: fixed;
  padding-bottom: 20px;
  width: 100%;
  bottom: 0;
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ZoomLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes ZoomUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


@media (max-width: 960px) {
  .home-container .home-middle {
    justify-content: end;
  }

  .home-container .home-middle .header .welcome-msg {
    width: 750px;
  }
}